{% extends "base.html" %}
{% block title %}Пост автора {{ author }}{% endblock %}
{% block content %}

        <div class="container">
                <div class="row">
                        
                        {% include "includes/author_card.html" %}

                        <div class="col-md-9">
                                <h1>Пост автора {{ author }}</h1>
                                <!-- Пост --> 
                                {% include "includes/post_item.html" with post=post %}
                                <!-- Комментарии --> 
                                {% include "includes/comments.html" %}
                        </div>
                </div>
        </div>

{% endblock %}